@use '../variables' as *;
@use '../mixins' as *;

.containerCards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .listCard {
    padding: 1em;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 3em;
  }
  .detail {
    position: absolute;
    color: $bgLightGray;
    cursor: pointer;
    top: 1%;
    z-index: 2;
    right: 1%;
  }
  .detail:hover {
    color: #a7a5a594;
  }
  .containerButton {
    width: 80%;
    max-width: 300px;
    button {
      background-color: $bgGray;
      width: 100%;
      margin-top: 10px;
      height: 43px;
      text-transform: none;
      font-size: 0.9em;
    }
    .containerBar {
      width: 100%;
      height: 10px;
      overflow: hidden;
      border-radius: $border_default;
      background-color: $bgGray;
      div {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.399);
        background-color: $bgOrange;
        transform-origin: 0%;
      }
    }
  }
}
@media (min-width: 700px) {
  .containerCards {
    .listCard {
      grid-template-columns: repeat(2, 1fr);
      padding: 2em 1em;
    }
    .containerButton {
      margin: 4em 0px;
    }
  }
}
@media (min-width: 1012px) {
  .containerCards {
    width: 97%;
    max-width: 1455px;
    margin: auto !important;
    button {
      font-weight: 600;
    }
    .listCard {
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      padding: 4em 1em;
    }
    .containerButton {
      button {
        height: 57px;
        font-weight: 500;
      }
    }
  }
}
@media (min-width: 1324px) {
  .containerCards {
    margin: 4em 0px;
    .listCard {
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
      padding: 4em 1em;
    }
  }
}
@media (min-width: 1500px) {
  .containerCards {
    .containerButton {
      width: 80%;
      max-width: 390px;
    }
    .listCard {
      padding: 5em 1em;
    }
  }
}
