@use '../variables' as *;
@use '../mixins' as *;

.containerCards {
  width: 100%;
  margin: 0 auto;
  .listCard {
    padding: 1em;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 3em;
  }
  .detail {
    position: absolute;
    color: $bgLightGray;
    cursor: pointer;
    top: 1%;
    z-index: 2;
    right: 1%;
  }
  .detail:hover {
    color: #a7a5a5;
  }
  .containerButton {
    text-align: center;
    margin: 4em 0px;
    button {
      background-color: $bgGray;
      width: 90%;
      height: 43px;
      text-transform: none;
      font-size: 0.9em;
      max-width: 300px;
    }
    button:hover {
      background-color: #353535;
      border: 1px solid rgba(255, 255, 255, 0.041);
    }
  }
}
@media (min-width: 700px) {
  .containerCards {
    .listCard {
      grid-template-columns: repeat(2, 1fr);
      padding: 2em 1em;
    }
    .containerButton {
      margin: 4em 0px;
    }
  }
}
@media (min-width: 1012px) {
  .containerCards {
    width: 97%;
    max-width: 1455px;
    button {
      font-weight: 500;
    }
    .listCard {
      grid-template-columns: repeat(3, 1fr);
      gap: 2em;
      padding: 4em 1em;
    }
    .containerButton {
      button {
        height: 57px;
      }
    }
  }
}
@media (min-width: 1324px) {
  .containerCards {
    margin-top: 5em;
    .listCard {
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;
      padding: 5em 1em;
    }
  }
}
