@use '../variables' as *;
@use '../mixins' as *;

.summaryModal {
  @include modalsOverlay;
  inset: 0%;
  z-index: 900;
}
.summary {
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.146);
  top: 50%;
  width: 90%;
  max-width: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bgGray;
  border-radius: $border_default;
  z-index: 999;
  padding: 2em;
  @include flex;
  gap: 2em;
  @include alignItens;
  color: white;
  overflow: hidden;
  .closeSummary {
    @include buttonOrangeMin;
  }
  .containerSummary {
    height: 40vh;
    overflow-y: scroll;
    border-radius: $border_default;
    background-color: $bgBackground;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.123);
  }
}
@media (min-width: 768px) {
  .summary {
    max-width: 500px;
  }
}
@media (min-width: 1600px) {
  .summary {
    max-width: 40%;
  }
}
