@use './variables' as *;

@mixin buttonOrangeMin {
  background-color: $bgOrange;
  width: 100%;
  padding: 1em;
  border: 2px solid $bgTransparent;
  &:hover {
    background-color: $bgOrangeHover;
  }
}
@mixin modaisOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 17, 17, 0.715);
}
@mixin cadsStyle {
  display: flex;
  border-radius: $border_default;
  box-shadow: 1px 2px 5px 6px rgba(0, 0, 0, 0.076);
}
@mixin flex {
  display: flex;
  flex-direction: column;
}
@mixin alignItens {
  align-items: center;
  justify-content: center;
}
@mixin textSectionP {
  font-weight: 300;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@mixin flexB {
  display: flex;
  justify-content: space-between;
}
@mixin fixed {
  position: fixed;
  width: 100%;
}
