$bgOrange: #ff8310;
$bgOrangeHover: #ca680c;
$bgBackground: #232323;
$bgDarkBlue: #191a20;
$bgGray: #393939;
$bgLightGray: #cccccc;
$bgWhite: #ffffff;
$bgTransparent: #ffffff36;
$bgCard: #2b2b2b;
$border_default: 8px;

// #F0F0F0
