@use './variables' as *;
@use './mixins' as *;

body {
  background-color: $bgBackground;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
button {
  color: $bgWhite;
  font-weight: 500;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.296);
  border: none;
  border-radius: $border_default;
}
main {
  width: 90%;
  margin: auto;
  flex: 1;
  margin-top: 9em;
  margin-bottom: 4em;
}
.footer {
  padding: 1em 0em;
  color: #ffffff70;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 16px;
  text-align: center;
  p {
    font-size: 0.8em;
  }
}
li {
  list-style-type: none;
}
h2 {
  font-size: 1.1em;
}
.goBack {
  width: 90%;
  max-width: 400px;
  margin: 3em auto;
  display: flex;
  a {
    @include buttonOrangeMin;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-radius: $border_default;
    color: $bgWhite;
    font-weight: 600;
  }
}
.containerDetails {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1400px) {
  .goBack {
    a {
      font-size: 1em;
    }
  }
}
.footer {
  p {
    font-size: 14px;
  }
}
